.home-container {
    width: 100%;
}

.landing {
  width: 100%;
  background-image: url("https://wallpapercave.com/wp/wp5121842.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-attachment: fixed;
}

.overview {
  padding: 100px 20px;
}
