@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
/* font-family: 'Prata', serif; */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
/* font-family: 'Poiret One', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
/* font-family: 'Playfair Display', serif; */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/* font-family: 'Great Vibes', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.banner-container {
  width: 100%;
  height: 100%;
  padding: 60px 0;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  display: grid;
  place-items: center;
  font-family: "Amatic SC", "Caveat", "Contrail One", "Prata", cursive;
}

.banner-link-to,
.banner-container p {
  color: #7a5c61;
  /* text-shadow: 0 0 5px #7A5C61; */
  font-family: "Quicksand", "Poiret One", "Caveat", "Yanone Kaffeesatz",
    "Contrail One", "Prata", cursive;
  text-decoration: none;
}

.banner-container h1 {
  max-width: 100%;
  padding: 20px;
  font-size: 45px;
  color: #3e3e42;
  text-shadow: none;
  font-family: "Playfair Display", "Prata", "Poiret One", "Great Vibes", cursive;
}

.banner-link-to {
  transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
}

.banner-link-to:hover {
  color: #01cdfe;
}
